.label {
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 6px;
}

.textarea {
  font-size: 1.4rem;
  font-weight: 400;
  // color: #111;
  padding: 2px 6px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 9px -6px black;
  //   min-height: 80px;
  max-height: 600px;
  height: auto;
  margin-top: 4px;
  margin-bottom: 10px;
  background-color: #ffffff55;

  &::placeholder {
    color: #000;
  }
  &:active {
    border: none !important;
  }

  &:focus {
    border: none !important;
  }
}
