.navbar {
  width: 100%;

  position: fixed;
  z-index: 4;
  bottom: 0;

  background-color: #ffffff;
  backdrop-filter: blur(1px);
  height: 50px;
}
.content {
  height: 50px;

  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
  width: 100%;
  align-items: center;
  justify-content: center;

  button {
    transform: scale(0.58);
    border-radius: 14px !important;
    // height: 80%;
    opacity: 0.3;
  }
  a {
    transform: scale(0.7);
    opacity: 0.3;
  }
}
.active {
  //   background-color: rgba(113, 113, 113, 0.092);
  border-radius: 14px !important;
  backdrop-filter: blur(2px);
  opacity: 1 !important;
}

@media screen and (min-width: 800px) {
  .navbar {
    display: none;
  }
}
