.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 12px;
  width: 100%;
  input {
    width: 90% !important;
    font-size: 1.6rem !important;
    background-color: #ffffff8d !important;

    margin-bottom: 12px;
  }
  margin-bottom: 12px;
}

.previews {
  height: 80vh;
  overflow: hidden;
  overflow-y: scroll !important;
}
