@use "../../../../styles/variables";
.navbar {
  box-shadow: 0 11px 6px -15px;
  margin-bottom: 16px;
  .middle {
    display: flex;
  }
}

.logo {
  width: 72px;
  height: 72px;
}

.profile {
  img {
    width: 38px;
    height: 38px;
    border-radius: 100%;

    border: 1px solid variables.$main-color;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  //   background-color: rgb(228, 228, 228);
  background-color: transparent;
  border: none;
  border-radius: 100%;

  transition: transform 0.2s ease-out linear;
  &:active {
    transform: scale(0.9);
  }

  img {
    width: 25px;
    height: 25px;
    opacity: 0.8;
  }

  div {
    position: absolute;

    width: 8px;
    height: 8px;
    border-radius: 100%;

    background-color: variables.$main-color-tint1 !important;
    box-shadow: inset 0 0 20px variables.$main-color;

    // (36 - 8 )/2
    margin-bottom: 25px;
    margin-left: 22px;
  }
}

.searchIcon {
  width: 25px;
  height: 25px;
  opacity: 1;

  //   transform: scaleX(-1);
}

@media screen and (max-width: 767px) {
  .middle {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    justify-self: flex-end;
  }

  .navbar {
    display: grid;
    margin: 0px 10px;
    grid-template-columns: 3.5fr 0.6fr 0.6fr 0.6fr 1fr;
    margin-bottom: 12px;
    align-items: center;

    // box-shadow: 0 14px 20px -28px variables.$main-color-tint3;
  }
}
