// Fonts: 12px | 16px  | 20 | 24 | 28 | 32 | 36 | 40 | 44 | 48 | 52 | 56 | 60 | 64 | 68 | 72 | 76 | 80

// main: #ff002b;
//  2nd: #407ba7 | #004e89 | #002962
// Black: #00043a

// Colors:

$main-color: #ff002b;
$main-color-tint1: #c00021;
$main-color-tint2: #a0001c;
$main-color-tint3: #800016;

$helper-color: #407ba7;
$helper-color-tint1: #004e89;
$helper-color-tint2: #002962;
$helper-color-tint3: #00043a;

$black: #19323c;
$black-30shade: #5e7077;
$black-40shade: #75848a;

$white: #fff;
$white-10tint: #cccccc;
