.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    a {
      width: 100% !important;
      padding: 10px 0;

      img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-right: 12px;

        box-shadow: 0 0 20px 2.5px #fff;
      }
    }
  }

  .wide {
    width: 90%;
    margin-bottom: 84px;
  }

  .normal,
  .small {
    opacity: 0.8;
    a {
      border: 1px solid black !important;
    }
  }
  .normal {
    width: 70%;
    margin-top: 12px;
  }

  .small {
    width: 70%;

    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      //   padding: 10px 0 !important;
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: center;

      column-gap: 20px;
    }
  }
}
