@use "../../styles/variables";
.buttons {
  display: flex;
  width: 100%;

  box-shadow: 0 0 7px 0px variables.$white-10tint;

  border-radius: 8px;
  background-color: variables.$white;
}

.sectionFirst {
  box-shadow: 0 0px 12px -13px variables.$black;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;

  margin-top: 3.2rem;
  margin-bottom: 5.2rem;

  row-gap: 12px;
}

.greeting {
  font-weight: 600;
}

.pair {
  display: flex;
  // flex-direction: column;
  row-gap: 12px;

  margin: 12px 0;

  width: 100%;
  column-gap: 8%;

  input {
    width: 46% !important;
  }
}

.group {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

@media screen and (max-width: 480px) {
  .inputs {
    width: 80%;
    column-gap: 12px;
  }

  .greeting {
    font-size: 2.2rem;
  }

  .content {
    border-radius: 12px;
    padding: 20px;
  }
  .buttons {
    width: 90%;
    margin-bottom: 32px;

    h2 {
      font-size: 3.2rem;
      font-weight: 700;
    }
  }
}
